
$primary-color: #d3a74a;

@media print {
  body {
    margin: 0;
    visibility: hidden;
    background-color: #eeeeee;
  }
  .main-page { visibility: visible; }
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
}

p, span, label {
  font-size: 9pt;
  margin-bottom: .25rem;
}